:root {
  --primary: #dd4e1e;
  --secondary: #e5703d;
  --white: #f0ece1;
  --app-height: 100%;
}

.content {
  position: relative;
  color: var(--white);
  z-index: 1;
  height: 100vh;


}

@media not all and (hover:hover) {
  .content {
    height: var(--app-height);
  }
}
@media only screen and (min-width: 1024px) {
  .content .message-from-leia {
    max-width: 380px;
  }
}

