:root {
  --primary: #dd4e1e;
  --secondary: #e5703d;
  --white: #f0ece1;
}

html {
  overflow: hidden;
}

.content {
  position: relative;
  color: var(--white);
  z-index: 1;
  height: 100vh;
}

@media only screen and (min-width: 1024px) {
  .content .message-from-leia {
    max-width: 380px;
  }
}

